@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Montserrat&display=swap');

#logo {
  background-color: #283618;
  color: white;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2em;
  padding-bottom: 2em;
}

#logo img {
  width: 80px;
  height: auto;
}

#name {
  display: flex;
  flex-direction: column;
}

#name h1 {
  font-family: 'montserrat';
  font-size: 40px;
  margin: 0 0 0 17px;
}

#name h3 {
  font-family: 'merriweather sans';
  font-size: 20px;
  margin: 0 0 0 17px;
  margin-left: 20px;
}

header button {
  position: fixed;
  margin-right: 5%;
  right: 0;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 2em;
  display: none;
  color: white;
}

nav {
  background-color: #606c38;
  font-family: 'open sans';
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
  width: 90%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  max-width: 800px;
}

nav ul li {
  float: left;
  width: 20%;
}

/* Style the links inside the navigation bar */
nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
nav a.active {
  background-color: #283618;
  color: white;
}

footer {
  background-color: #606c38;
  color: white;
  font-family: 'open sans';
  font-size: 15px;
  padding: 5px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

h1 {
  font-family: 'montserrat';
  font-size: 40px;
}

h3 {
  font-family: 'merriweather sans';
  font-size: 20px;
}

body {
  background-color: #fefae0;
  font-family: 'open sans';
  font-size: 16px;
}

@media only screen and (max-width: 700px) {
  #logo {
    padding-left: 5%;
    padding-right: 5%;
  }
  header button {
    display: unset;
  }

  #name h1 {
    font-size: 30px;
  }
  #name h3 {
    font-size: 15px;
  }
}
