#reservation {
  width: 80%;
  margin: auto;
  padding-bottom: 60px;
}

#reservation h1,
p {
  text-align: center;
}

.myForm {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 3px;
  padding: 1em;
}

.row {
  display: flex;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.input-group {
  display: flex;
}
.input-group > label {
  margin-right: 1em;
  padding: 0.5em 0;
}
.myForm input,
.myForm select {
  flex: 6;
  padding: 0.5em;
  margin-bottom: 1em;
}
.myForm button {
  margin: 20px;
  padding: 1em;
  background: gray;
  color: white;
  border: 0;
}
.myForm fieldset {
  border: 0;
}

.addInfo {
  display: inline;
}
