body {
  background-color: #e7ecf2;
}

.wrapper {
  display: grid;
  grid-gap: 50px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}
.left {
  grid-row-start: 2;
  grid-row-end: 10;
  background-color: white;
}

.center {
  grid-row-start: 1;
  grid-row-end: 11;
  padding-top: 2%;
  background-color: white;
}

.header {
  background-color: #12aaeb;
}

.right {
  grid-row-start: 2;
  grid-row-end: 10;
  background-color: white;
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 850px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
