@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: Inter, sans-serif;
}

.alert {
  color: white;
  background-color: #3d5a80;
  border-bottom: #213146;
  display: flex;
  justify-content: center;
}

.alert p {
  margin: 0;
}

header {
  background-color: #3d5a80;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: left;
}

header img {
  width: 80px;
  height: auto;
}

#logo {
  margin-left: 10%;
}

#name {
  display: flex;
  flex-direction: column;
  color: white;
}

#name h1 {
  font-size: 1.6rem;
  margin: 0 0 0 17px;
}

#name h3 {
  font-size: 0.9rem;
  margin: 0 0 0 17px;
  margin-left: 20px;
}

header button {
  position: relative;
  margin-left: 100px;
  margin-right: 10px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 2em;
  display: none;
}

/* Add a black background color to the top navigation */
nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 10%;
  overflow: hidden;
}

nav ul li {
  float: left;
}

/* Style the links inside the navigation bar */
nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
nav a.active {
  background-color: #98c1d9;
  color: white;
}

main {
  margin-left: 10%;
  width: 80%;
  justify-items: center;
  text-align: center;
}

main h1 {
  font-family: Inter, sans-serif;
}

#pics {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

#pics figure {
  text-align: center;
}

figcaption {
  padding-top: 5px;
}

#pics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#pics figure:hover {
  box-shadow: 5px 5px 2px 1px #333;
}

footer {
  background-color: #3d5a80;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  color: white;
  justify-items: center;
}

#footMap {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 600px;
  max-height: 400px;
  margin: auto;
}

#footMap::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

#footMap iframe {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 90%;
  height: 100%;
}

footer li:nth-child(1) {
  list-style: '🌇';
}

footer li:nth-child(2) {
  list-style: '📞';
}

footer li:nth-child(3) {
  list-style: '✉️';
}

#footMap img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

#info {
  margin-top: 20px;
}

footer #social img {
  height: 50px;
  padding-bottom: 10px;
}

#footerbar {
  color: white;
  width: 100%;
  bottom: 0;
  right: 0;
  background-color: black;
  text-align: center;
}

#footerbar p {
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  nav ul {
    margin-left: 0;
  }

  #pics {
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0;
    padding-top: 10px;
    justify-items: center;
  }

  #footMap img {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  header button {
    display: unset;
  }
  nav ul li {
    float: none;
  }

  nav ul.hide {
    display: none;
  }

  #pics {
    grid-template-columns: 1fr;
  }

  figcaption {
    display: none;
  }

  footer {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0;
    padding-top: 10px;
    justify-items: center;
  }

  #footMap img {
    width: 100%;
  }
}
