@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background-color: #cfcfcf;
  font-family: 'Open Sans', sans-serif;
}

#ticketbox {
  background-color: white;
  width: 40%;
  margin: auto;
  text-align: center;
  border-radius: 20px;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

img {
  object-fit: contain;
}

#destination {
  display: flex;
  background-color: #001b36;
  color: rgb(35, 62, 89);
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.bigCity {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

#details {
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#item {
  width: 33%;
}

.head {
  color: #001b36;
}

.info {
  font-size: 1.5em;
}

#barcode {
  padding-top: 30px;
}

#footer {
  padding-bottom: 15px;
}

@media only screen and (min-width: 375px) {
  #ticketbox {
    width: 80%;
  }
  #item {
    width: 100%;
    border-bottom: #7c7c7c;
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }
}

@media only screen and (min-width: 768px) {
  #ticketbox {
    width: 65%;
  }
  #item {
    width: 50%;
    border-bottom-style: none;
  }
}

@media only screen and (min-width: 1200px) {
  #ticketbox {
    width: 40%;
  }
  #item {
    width: 33%;
    border-bottom-style: none;
  }
}
